[Unit]
Description=WiggleRecord service

[Service]
WorkingDirectory=%h
ExecStart=/bin/bash /usr/bin/wiggle-record-boot.sh

[Install]
WantedBy=default.target